/*
* @Author: liu
* @Date:   2017-12-02 11:30:08
* @Last Modified by:   oooo
* @Last Modified time: 2017-12-14 17:21:02
*/
@import url("base.css");
/* .suningbiejing{
    width: 100%;
    height: auto;
    background: #000;
}
 */
@font-face {
  font-family: 'iconfont';  /* project id 495051 */
  src: url('http://at.alicdn.com/t/font_495051_fbk5plvoxsjj1yvi.eot');
  src: url('http://at.alicdn.com/t/font_495051_fbk5plvoxsjj1yvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_495051_fbk5plvoxsjj1yvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_495051_fbk5plvoxsjj1yvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_495051_fbk5plvoxsjj1yvi.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
	font-size: 24px;
	color: #b0b0b0;
}
.suningbiejing{
	height: auto;
	overflow: hidden;
}
.dingbudanhang{
	width: 100%;
	height: 35px;
	background: #f5f5f5;
	border-top: 1px solid #eeeeee;
	border-bottom:1px solid #eeeeee;
} 
.dbdhz{
	width: 1190px;
	height: 100%;
	background: #f5f5f5;
	margin: 0 auto;
}
.dbdh-z{
	width: 246px;
	height: 100%;
	background: red;
	float: left;
	margin-left: 9px;
}
.dbdh-y{
	width: 444px;
	height: 100%;
	float: right;
	background: green;
}
.d-z-x{
	width: 82px;
	height: 100%;
	float: left;
	background: #f5f5f5;
}
.d-z-x-x{
	display: block;
	font-size: 12px;
	color: #666;
	line-height: 36px;
	margin-left: 10px;
	float: left;
}
.iconhead{
	font-size: 10px;
	color: #ddcbc7;
	float: left;
	margin-top: 12px;
	margin-left: 3px;
}
.d-z-x:hover .iconhead{
    transform: rotate(-180deg);
    transition: 0.4s
}
.d-z-x:hover{
	background: #fff;
}
.dbdh-z .d-z-x:nth-child(2):hover .d-z-x-x{
	color: #ff6700;
}
.db-y-y{
	width: 83px;
	height: 100%;
	background: #f5f5f5;
	float: left;
}
.dbdh-y .db-y-y:nth-child(2){
	width: 83px;
}
.dbdh-y .db-y-y:nth-child(3){
	width: 70px;
}
.dbdh-y .db-y-y:nth-child(4){
	width: 58px;
}
.dbdh-y .db-y-y:nth-child(5){
	width: 70px;
}
.dbdh-y .db-y-y:last-child{
	width: 80px;
}
.db-y-z{
	display: block;
	font-size: 12px;
	color: #666;
	line-height: 36px;
	margin-left: 10px;
	float: left;
}
.db-y-y:hover .iconhead{
    transform: rotate(-180deg);
    transition: 0.4s
}
.db-y-y:hover{
	background: #fff;
}
.db-y-z:hover{
	color: #ff6700;
}
.dr{
	width: 100%;
	height: 110px;
	background: #fff;
}
.dr-zj{
	width: 1190px;
	height: 110px;
	background: #fff;
	margin: 0 auto;
	position: relative;
}
.dr-zj-snlogo{
	width: 190px;
	height: 95px;
	position: absolute;
	top: 0px;
	left: 0;
}
.dr-zj-snlogo-img{
	width: 190px;
	height: 85px;
}
.dr-zj-sd{
	position: absolute;
	top: 0;
	left: 195px;
}
.dr-zj-sd-img{
	width: 160px;
	height: 100px;
}
.dr-ssd{
	width: 540px;
	height: 40px;
	background: red;
	position: absolute;
	left: 360px;
	top: 30px;
}
.dr-sousuo{
	width: 418px;
	height: 36px;
	background: #fff;
	float: left;
	border: 2px solid #ffaa00;
	border-right: none;
}
.dr-ss-da{
	width: 120px;
	height: 40px;
	background: #ff9900;
	float: right;
}
.dr-ss-da-tu{
	width: 120px;
	height: 40px;
	background: #ff9900;
	float: right;
	display: block;
	line-height: 40px;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.dr-ss-da-tu:hover{
	background: #ff8800;
}
.dr-snl{
	width: 88px;
	height: 88px;
	border: 1px solid #eeeeee;
	position: absolute;
	top: 10px;
	right: 0px;
}
.dr-snlogo{
	width: 88px;
	height: 88px;
}
.dr-ssxz{
	width: 540px;
	height: 30px;
	background: #fff;
	position: absolute;
	left: 360px;
	top: 70px;
}
.dr-ssxz-z{
	display: block;
	line-height: 30px;
	font-size: 12px;
	color: #999999;
	margin-right: 14px;
	float: left;
}
.dr-ssxz-z:hover{
	color: #ff8800;
}
.dr-dawenzi{
	width: 720px;
	height: 38px;
	background: green;
	position: absolute;
	bottom: 0;
	left: 213px;
}
.dstp{
	width: 100%;
	height: 38px;
	background: #fff;
}
.ds{
	width: 1190px;
	height: 38px;
	margin: 0 auto;
	background: #fff;
}
.ds-zuo{
	width: 190px;
	height: 100%;
	margin-right: 23px;
	background: green;
	float: left;
}
.ds-zuo-qb{
	display: block;
	width: 190px;
	height: 38px;
	background: #ff9900;
	color: #fff;
	line-height: 38px;
	float: right;
	font-size: 12px;
}
.ds-zuo-icon{
	line-height: 38px;
	display: block;
	float: left;
	color: #fff;
	font-size: 24px;
	margin-left: 3px;
}
.ds-zuo .ds-zuo-qb:hover{
	background: #ff8800
}
.ds-zh{
	width: 789px;
	height: 38px;
	background: #fff;
	margin-right: 20px;
	float: left;
	/* position: relative; */
}
.ds-you{
	width: 166px;
	height: 38px;
	background: #fff;
	float: right;
}
.ds-zh-wen{
	display: block;
	font-size: 14px;
	color: #333;
	line-height: 38px;
	float: left;
	position: relative;
	overflow: hidden;
	margin-right: 26px;

}
.ds-zh-tu{
    position: absolute;
	width: 100%;
    height: 8px;
	background: url('../img/tanchu.png') no-repeat center center;
	bottom: -8px;
}
.ds-zh-wen:hover{
    color: #ff8800;
}
.ds-zh-wk .ds-zh-wen:hover .ds-zh-tu{
    transform:translateY(-8px) ;
    transition: 0.5s;
}

.banner{
	width: 1190px;
    height: 440px;
    background: #f2f2f2;
    margin: 0 auto;
    position: relative;
}.bannerzuo{
	position: absolute;
	height: 440px;
	width: 545px;
	left: -355px;
	
}
.banneryou{
	position: absolute;
	height: 440px;
	width: 545px;
	right: -375px;
}

/*.bannertu{
	position: absolute;
	left: 190px;
	width: 830px;
	height: 440px;
}*/
.bannerimgtu{
	position: absolute;
	width: 830px;
	height: 440px;
	left: 190px;
	opacity: 0;
	transition: all 0.5s;
}

.bannertu li .active{
	opacity: 1;
	z-index: 2;
	/*background: #ff6700;*/
}
.s-zh-yd .active{
	background: #ff6700;
}
.s-you-danhang{
	position: absolute;
	width: 190px;
	height: 440px;
	background: #252221;
	left: 0;
}
.s-you-dhk{
	width: 190px;
	height: 31px;
	background: #252221;
}
.icon-right{
	color: #f09c15;
	font-size: 14px;
	line-height: 31px;
	margin-left: 8px;
	float: left;
}
.s-you-dh-y{
	display: block;
	font-size: 12px;
	color: #fff;
	line-height: 31px;
	margin-left: 1px;
	float: left;

	/* width: 100%; */
}
.s-y-dh-xie{
	font-size: 12px;
	color: #2c4464;
	float: left;
	margin-top: 8px;
	padding: 0 2px;
}
.s-you-dh-y-m{
	margin-left: 5px;
}
.s-you-danhang li:nth-child(2){
	height: 32px;
}
.s-you-danhang li:nth-child(3){
	height: 32px;
}
.s-you-danhang li:nth-child(4){
	height: 32px;
}
.s-you-danhang li:nth-child(5){
	height: 32px;
}
.s-you-danhang li:nth-child(6){
	height: 32px;
}
.s-you-danhang li:nth-child(7){
	height: 32px;
}
.icon-tushu{
	font-size: 6px;
}
.s-you-dhk:hover{
	background: #fff;
}
.banner .s-you-danhang li .s-you-dhk a:hover{
	color: #f60;
}
.s-you-dhk:hover .s-you-dh-y{
    color: #ff6600;
}
.s-you-danhang .s-you-dhk:hover .s-you-dh-y{
	color: #333;
}
.s-zh-yd{
	width: 224px;
	height: 20px;
	right: 486px;
	bottom: 20px;
	position: absolute;
	z-index: 10;
/* 	background: black; */
}
.s-zh-yd li{
	width: 16px;
	height: 16px;
	background: #f2ced9;
	float: left;
	border: rgba(0, 0, 0, 0.2) solid 2px;
	border-radius: 50%;
	margin-right: 8px;
	cursor: pointer;
}
..s-zh-yd li:last-child{
	margin-right: 0px;
}
.s-zh-yd li:hover{
	background: #ff8800;
}
.s-zh-xiaobanner{
	display: block;
	width: 150px;
	height: 213px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	right: 175px;
	top: 5px;
	z-index: 10;
}
.s-zh-xiaobanner-you{
	display: block;
	width: 150px;
	height: 213px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 5px;
	right: 175px;
	z-index: 10;
}
.s-zh-wenzi{
	font-size: 12px;
	color: #333;
	display: block;
	margin-top: 19px;
	margin-left: 16px;
}
.s-zh-wen-er{
	font-size: 12px;
	color: #666;
	display: block;
	margin-top: 3px;
	margin-left: 16px;
}
.s-zh-wen-tu{
	width: 150px;
	height: 150px;
}
.s-zh-xiaobanner:hover{
    background: rgba(255, 255, 255, 0.9);
}
.s-zh-xiaobanner-you:hover{
    background: rgba(255, 255, 255, 0.9);
}
.s-zh-you-denglu{
	width: 170px;
	height: 430px;
	background: #f2f2f2;
	position: absolute;
	top: 5px;
	right: 0px;
}
.s-ban-zuo{
    width: 30px; 
	height: 64px;
	background:black;
	position: absolute;
	top: 180px;
	left: 190px;
	opacity: 0;
	z-index: 20;
	cursor: pointer;
}

.icon-s-ban-zuo{
	display: block;
	line-height: 64px;
	text-align: center;
	font-size: 20px;
	color:#fff;
}
.bannertu:hover .s-ban-zuo{
	opacity: 0.6;
}
.bannertu:hover .icon-s-ban-zuo{
	opacity: 1;
}
.s-ban-you{
	width: 30px; 
	height: 64px;
	background: black;
	opacity: 0;
	position: absolute;
	top: 180px;
	right: 170px;
	opacity: 0;
	z-index: 20;
	cursor: pointer;
}

.icon-s-ban-you{
	display: block;
	line-height: 64px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.bannertu:hover .s-ban-you{
	opacity: 0.6;
}
.bannertu:hover .icon-s-ban-you{
	opacity: 1;
}

.s-zh-you-denglu{
	width: 170px;
	height: 430px;
	background: red;
	position: absolute;
}
.s-zh-you-denglu-re{
	width: 170px;
	height: 430px;
	background: #f2f2f2;
	position: relative;
}
.s-d-y{
	width: 170px;
	height: 169px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.s-d-e{
	width: 170px;
	height: 114px;
	background: #fff;
	position: absolute;
	top: 170px;
	left: 0;
}
.s-d-sa{
	width: 56px;
	height: 72px;
	background: #fff;
	position: absolute;
	top: 285px;
	left: 0;
}
/* .s-d-e-guanzhu{
    display: block;
    font-size: 12px;
    color: #ff7d00;
    margin-left: 9px;
    margin-top: 11px;
    float: left;
}
.s-d-e-weizi{
	display: block;
    font-size: 12px;
    color: #333;
    margin-left: 5px;
    margin-top: 11px;
    float: left;
}
.s-d-e-w{
	display: block;
    font-size: 12px;
    color: #333;
    margin-left: 5px;
    margin-top: 16px;
    position: absolute;
    top: 15px;
    left: 6px;
} */
.s-b-e-s{
	width: 147px;
	height: 34px;
	position: absolute;
	background: #fff;
	top: 10px;
	left: 10px;
}
.s-b-e-s-y{
	display: block;
    font-size: 12px;
    color: #ff7d00;
    float: left;
}
.s-b-e-s-yi{
	display: block;
    font-size: 12px;
    color: #333;
    float: left;
    margin-left: 5px;
}
.s-b-e-s-e{
	display: block;
    font-size: 12px;
    color: #333;
    float: left;
    margin-left: 5px;
}
/* .s-b-e-s-yi:hover{
    color: #ff6600
}
.s-b-e-s-e:hover{
    color: #ff6600
} */
.s-b-e-s:hover .s-b-e-s-yi{
	color: #ff6600
}
.s-b-e-s:hover .s-b-e-s-e{
	color: #ff6600
}
.s-b-e-x:hover .s-b-e-s-yi{
	color: #ff6600
}
.s-b-e-x:hover .s-b-e-s-e{
	color: #ff6600
}
.s-b-e-x{
	width: 153px;
	height: 34px;
	position: absolute;
	background: #fff;
	top: 58px;
	left: 10px;
}
.s-d-si{
    width: 56px;
	height: 72px;
	background: #fff;
	position: absolute;
	top: 285px;
	left: 57px;
}
.s-d-w{
	width: 56px;
	height: 72px;
	background: #fff;
	position: absolute;
	top: 285px;
	left: 114px;
}
.s-d-l{
	width: 56px;
	height: 72px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0px;
}
.s-d-q{
	width: 56px;
	height: 72px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 57px;
}
.s-d-b{
	width: 56px;
	height: 72px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 114px;
}
.s-s-l{
	display: block;
	width: 70px;
	height: 70px;
	background: #fff;
	margin: 0 auto;
	margin-top: 7px;
}
.s-s-l-l{
	width: 70px;
	height: 70px;
}
.s-z-d-hi{
    width: 170px;
	height: 24px;
	color: #333;
	margin-top: 4px;
	font-size: 12px;
	text-align: center;

}
.s-z-y-delu{
	display: block;
	width: 70px;
	height: 26px;
	background: #ff9900;
	position: absolute;
	left: 10px;
	top: 106px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 26px;

}
.s-z-y-delu:hover{
    background: #ff8800;
}
.s-z-y-xinren{
	display: block;
	width: 68px;
	height: 24px;
	background: #fff;
	border: 1px solid #ff9900;
	position: absolute;
	right: 10px;
	top: 106px;
	font-size: 12px;
	color: #ff9900;
	text-align: center;
	line-height: 24px;
}
.s-z-y-xinren:hover{
	background: #ff8800;
	color: #fff
}
.s-z-y-bi{
	display: block;
	position: absolute;
	top: 145px;
	left: 10px;
	width: 77px;
	height: 14px;
	background: #fff;
}
.lingzuntu{
	width: 16px;
	height: 14px;
	float: left;
}
.s-z-lingzi{
	display: block;
	font-size: 12px;
	color: #333;
    float: left;
    margin-left: 6px;
}
.s-z-dayu{
	display: block;
	font-size: 14px;
	color: #333;
    float: left;
    
}
.s-z-y-juan{
	display: block;
	position: absolute;
	top: 145px;
	right: 12px;
	width: 67px;
	height: 14px;
	background: #fff;
}
.lingzuntu-t{
	width: 16px;
	height: 14px;
	float: left;
}
.s-z-lingzi-zi{
	display: block;
	font-size: 12px;
	color: #333;
    float: left;
    margin-left: 6px;
}
.s-z-xiaoyu{
    display: block;
	font-size: 14px;
	color: #333;
    float: left;
}
.s-d-sa-neirong{
	display: block;
	width: 56px;
	height: 72px;
}
.icon-s-y{
	display: block;
	text-align: center;
	margin-top: 14px;
	font-size: 24px;
	color: #ff9900;
}
.s-y-w{
	display: block;
	font-size: 12px;
	color: #333;
	text-align: center;
	margin-top: 5px;
}
.s-zh-you-denglu-re .s-d-sa:hover .s-y-w{
	color: #ff8800
}
.s-zh-you-denglu-re .s-d-si:hover .s-y-w{
	color: #ff8800
}
.s-zh-you-denglu-re .s-d-w:hover .s-y-w{
	color: #ff8800
}
.s-zh-you-denglu-re .s-d-l:hover .s-y-w{
	color: #ff8800
}
.s-zh-you-denglu-re .s-d-q:hover .s-y-w{
	color: #ff8800
}
.s-zh-you-denglu-re .s-d-b:hover .s-y-w{
	color: #ff8800
}
.wu{
	width: 1190px;
	height: 350px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.w-jiadiantu{
	width: 1190px;
	height: 150px;
}
.wu-shang{
    display: block;
	width: 1190px;
	height: 150px;
}
.wu-xia{
	height: 200px;
	width: 1190px;
	background: #f7003e;
}
.w-x-t{
	width: 230px;
	height: 190px;
	float: left;
	margin-right: 10px;
}
.w-x-t-t{
	width: 230px;
	height: 190px;
	/* margin-right: 10px; */
}
.w-x-t-w{
	margin-right: 0px;
}
.liu{
	width: 1190px;
	height: 305px;
	margin: 0 auto;
	background: red;
	margin-bottom: 20px;
	position: relative;
}
.w-shang{
	width: 1190px;
	height: 43px;
	background: #f2f2f2;

}
.w-s-z{
	width: 190px;
	height: 43px;
	background: #dd2726;
	float: left;
}
.w-s-z-wenzi{
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 43px;
    float: left;
    margin-left: 15px;
}
.w-s-z-tu{
	display: block;
    float: left;
    margin-top: 16px;
    margin-left: 6px;
}
.w-s-y{
	width: 100px;
	height: 24px;
	float: right;
	background: #db2726;
	border-radius: 14px;
	margin-top: 12px;
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    padding-left: 15px;
    
}
.w-s-y-t{
	display: block;
	font-size: 10px;
	color: #fff;
	margin-right: 15px;
	float: right;
}
.w-xia{
	width: 1190px;
	height: 260px;
	background: #fff;
	border-top: 2px solid #dd2726;
}
.wu-dakuang{
	width: 1000px;
	overflow: hidden;
	float: left;
}
.w-xaiyi{
	overflow: hidden;
	width: 3000px;
	height: 260px;
	float: left;
	transition: all 0.3s;
}
.w-x-y{
	display: block;
	width: 200px;
	height: 260px;
	background: #fff;
	top: 45px;
	left: 0;
	float: left;
}
.w-x-y-l{
	width: 180px;
	height: 240px;
	margin-top: 10px;
}
.w-x-y-tu{
	display: block;
	margin-left: 23px;
	margin-top: 13px;
}
.w-x-y-wen{
	width: 178px;
	height: 52px;
	background: #fff;
	margin-top: 20px;
	margin-left: 16px;
}
.w-x-y-wen-y{
	display: block;
	font-size: 12px;
	color: #333;
}
.icon-wu{
	display: block;
	font-size: 10px;
	color: #f60;
    float: left;
    margin-top: 3px;
}
.w-x-y-wen-san{
	display: block;
	font-size: 12px;
	color: #f60;
    float: left;
}
.w-x-y-wen-si{
	display: block;
	font-size: 6px;
	color: #999;
    float: left;
    text-decoration: line-through;
}
.w-x-y:hover .w-x-y-tu{
	transform: scale(1.05, 1.05);
	transition: 0.5s;
}
.w-x-y:hover .w-x-y-wen-y{
	color: #ff6600;
}
.w-shutiao-y{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 65px;
	left: 199px;
}
.w-shutiao-e{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 65px;
	left: 399px;
}
.w-shutiao-s{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 65px;
	left: 599px;
}
.w-shutiao-w{
	width: 1px;
	height: 140px;
	background: #eee;
	position: absolute;
	top: 65px;
	left: 799px;
}
.wu-jieweitu{
	width: 180px;
	height: 240px;
}
.wu-zuod{
	width: 28px;
	height: 62px;
	position: absolute;
	left: 0px;
	top: 126px;
	cursor: pointer
}
.icon-wu-x{
	font-size: 22px;
	line-height: 62px;
	text-align: center;
	color: rgba(0, 0, 0, 0.0)
}
.w-xia:hover .wu-zuod{
    
    border: 1px solid #eee;
}
.w-xia:hover .icon-wu-x{
    color: #eee;
}
.wu-zuoy{
	width: 28px;
	height: 62px;
	position: absolute;
	right: 201px;
	top: 126px;
	cursor: pointer;
}
.w-xia:hover .wu-zuoy{
    
    border: 1px solid #eee;
}
.qi{
	width: 1190px;
	height: 427px;
	background: #f2f2f2;
	margin: 0 auto;
	margin-bottom: 20px;
}
.qi-y{
	width: 390px;
	height: 427px;
	background: green;
	float: left;
	margin-right: 10px;
}
.qi-e{
	width: 390px;
	height: 427px;
	background: green;
	float: left;
	margin-right: 10px;
}
.qi-s{
	width: 390px;
	height: 427px;
	background: green;
	float: left;
}
.qi-y-s{
	width: 390px;
	height: 45px;
	background: #3b8c94;
}
.qi-y-x{
	width: 390px;
	height: 382px;
	background: #fff;
}

.xiaokuang li{
    display: block;
    width: 184px;
    height: 120px;
    background: #fff;
    float: left;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    /* margin-left: 10px;
    margin-top: 10px; */ 
}
.xiaokuang li:first-child{
	margin-top: 10px;
	margin-left: 10px;
}
.xiaokuang li:nth-child(2){
	margin-top: 10px;
	border-right: 0;
}
.xiaokuang li:nth-child(3){
	margin-left: 10px;
}
.xiaokuang li:nth-child(4){
	border-right: 0;
}
.xiaokuang li:nth-child(5){
	margin-left:10px;
	border-bottom: 0;
}
.xiaokuang li:last-child{
	border-right: 0;
	border-bottom: 0;
}
.qi-x-xiao{
	display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.q-x-tu{
	display: block;
	width: 90px;
	height: 70px;
	margin-left: 8px;
	margin-top: 40px;
	float: right;
}
.qi-x-wen{
	display: block;
	width: 80px;
	height: 14px;
	font-size: 6px;
	color: #333;
	float: left;
	margin-left: 26px;
	margin-top: 24px;
}
.qi-x-wen-er{
	margin-top: 6px;
	float: left;
}
.qi-x-wen-san{
	display: block;
	width: 63px;
	height: 12px;
	color: #999;
	margin-top:14px;
	float: left;
}
.q-x-tu{
	display: block;
	width: 86px;
	height: 56px;
	float: right;
	margin-top: 0;

}
.qi-y-s-w{
	font-size: 18px;
	color: #fff;
	display: block;
	line-height: 45px;
	margin-left: 5px;
	float: left;
}
.qi-y-s-w-a{
	display: block;
	font-size: 12px;
	color: #fff;
	line-height: 45px;
	float: right;
	margin-right: 5px;

}
.shengxian{
	width: 1190px;
	height: 530px;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
}
.shengxian-left{
	width: 790px;
	float: left;
	height: 540px;
	overflow: hidden;
}
.shengxian-left ul{
	width: 800px;
	height: 540px;
}
.shengxian-left ul li{
	position: relative;
    float: left;
    width: 390px;
    height: 170px;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.shengxian-left ul .item1{
	background: -webkit-gradient(linear,0 0,right 0,from(#e89621),to(#f5c568));
}
.shengxian-left ul .item2{
	background: -webkit-gradient(linear,0 0,right 0,from(#325bb4),to(#4c9afe));
}
.shengxian-left ul .item4{
	background: -webkit-gradient(linear,0 0,right 0,from(#5d40c1),to(#8c5fdb));
}
.shengxian-left ul .item5{
	background: -webkit-gradient(linear,0 0,right 0,from(#d13837),to(#df6d4f));
}
.shengxian-left ul .item6{
	background: -webkit-gradient(linear,0 0,right 0,from(#d13837),to(#df6d4f));
}
.shengxian-left ul li a{
	display: block;
    width: 100%;
    height: 126px;
    padding-top: 44px;
}
.shengxian-left ul li a .line{
	position: relative;
    display: block;
    height: 2px;
    background: url(../img/index.png);
    margin-left: 35px;
    z-index: 1;
}
.shengxian-left ul li a .line-top{
	width: 78px;
    background-position: -102px -245px;
}
.shengxian-left ul li a .line-bottom{
	width: 154px;
    background-position: -101px -253px;
}
.shengxian-left ul li a p{
	position: relative;
    color: #FFF;
    width: 160px;
    overflow: hidden;
    z-index: 1;
}
.shengxian-left ul li a .name{
	margin: 5px 0 5px 35px;
	height: 26px;
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
}
.shengxian-left ul li a .desc{
	margin: 5px 0 0 35px;
	font-size: 14px;
	line-height: 20px;
	height: 20px;
}
.shengxian-left ul li a img{
	position: absolute;
    width: 170px;
    height: 170px;
    right: 25px;
    top: 0;
    transition: all .5s;
}
.shengxian-left ul li:hover img{
	transform: translateX(-10px);
}
.shengxian-sp{
	float: left;
    width: 390px;
    height: 350px;
    margin-left: 10px;
}
.shengxian-sp .title{
	width: 100%;
    height: 45px;
    color: #FFF;
    background: #3f3435;
}
.shengxian-sp .title h5{
	float: left;
	padding-left: 15px;
	font-size: 18px;
	line-height: 45px;
	font-weight: bold;
}
.shengxian-sp .big{
	position: relative;
    width: 390px;
    height: 227px;
    overflow: hidden;
}
.shengxian-sp .big ul li{
	position: absolute;
    width: 390px;
    height: 227px;
}
.shengxian-sp .big ul li img{
	display: block;
    width: 390px;
    height: 227px;
}
.shengxian-sp .big ul li .opacity{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .15;
    background: #000;
}
.shengxian-sp .big ul li span{
	position: absolute;
    top: 80px;
    left: 170px;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/index.png) -325px -51px;
}
.shengxian-sp .big ul li .opacity1{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #000;
    opacity: .5;
}
.shengxian-sp .big ul li .name{
	position: absolute;
    bottom: 0;
    left: 35px;
    width: 320px;
    height: 45px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFF;
     font-size: 14px;
    line-height: 45px;
}
.shengxian-sp .small{
	position: relative;
    width: 390px;
    height: 73px;
    margin-top: 5px;
    overflow: hidden;
}
.shengxian-sp .small ul{
	position: absolute;
    left: 0;
    top: 0;
    width: 10000px;
    height: 73px;
}
.shengxian-sp .small ul li{
	position: relative;
    float: left;
    width: 128px;
    height: 73px;
    margin-right: 3px;
}
.shengxian-sp .small ul li img{
	display: block;
    width: 128px;
    height: 73px;
}
.shengxian-sp .small ul li .opacity{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .20;
    background: #000;
}
.shengxian-sp .small ul li span{
	position: absolute;
    top: 18px;
    left: 51px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/index.png) -252px 0;
}
.shengxian-sp .small ul li p{
	position: absolute;
    width: 112px;
    height: 20px;
    left: 8px;
    color: #FFF;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 20px;
}
.shengxian-right{
	float: left;
    width: 390px;
    height: 170px;
    margin: 10px 0 0 10px;
    overflow: hidden;
}
.shengxian-right ul{
	width: 400px;
	height: 170px;
}
.shengxian-right ul li{
	position: relative;
    float: left;
    width: 190px;
    height: 170px;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.shengxian-right ul .item7{
	background: -webkit-gradient(linear,0 0,right 0,from(#6ea166),to(#9fc766));
}
.shengxian-right ul li a{
	display: block;
    width: 100%;
    height: 152px;
    padding-top: 18px;
}
.shengxian-right ul li a p{
	color: #FFF;
    width: 120px;
    overflow: hidden;
}
.shengxian-right ul li a .name{
	height: 26px;
    margin: 0 0 5px 35px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.shengxian-right ul li a .desc{
	height: 20px;
    width: 126px;
    margin: 0 0 0 35px;
    font-size: 14px;
    line-height: 20px;
}
.shengxian-right ul li a img{
	position: absolute;
    width: 190px;
    height: 100px;
    left: 0;
    bottom: 0;
    background: 0;
    transition: all .5s;
}
.shengxian-right ul li:hover a img{
	transform: translateX(-10px);
}
.haohuo{
	height: 427px;
	width: 1190px;
	margin: 20px auto;
}
.haohuo1{
	width: 390px;
	height: 427px;
	margin: 0;
	float: left;
	background: #FFFFFF;
}

.haohuo2{
	float: left;
    width: 390px;
    height: 427px;
    margin-left: 10px;
    background: #FFF;
}

.haohuo3{
	float: left;
    width: 390px;
    height: 427px;
    margin-left: 10px;
    background: #FFF;
}
.haohuo1 .title{
	position: relative;
    width: 100%;
    height: 45px;
    color: #FFF;
}
.haohuo2 .title{
	position: relative;
    width: 100%;
    height: 45px;
    color: #FFF;
}
.haohuo3 .title{
	position: relative;
    width: 100%;
    height: 45px;
    color: #FFF;
}
.haohuo .title h5{
	float: left;
    padding-left: 15px;
    font-size: 18px;
    line-height: 45px;
    font-weight: bold;
}
.haohuo .title a{
	float: right;
    margin: 15px 10px 0 0;
    color: #FFF;
    font-size: 12px;
    line-height: 16px;
}
.haohuo .title a span{
	display: inline-block;
    vertical-align: middle;
}
.haohuo .title a i{
	display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 9px;
    margin-left: 8px;
    background: url(../img/index.png) -73px -37px;
}
.haohuo .haohuo1 .title{
	background: #3b8c94;
}
.haohuo .haohuo2 .title{
	background: #e66a07;
}
.haohuo .haohuo2 .title .new-logio{
	position: absolute;
    left: 87px;
    bottom: 8px;
    width: 53px;
    height: 53px;
    background: url(../img/haohuo/haohuo7.png);
}
.haohuo .haohuo3 .title{
	background: #b62323;
}
.haohuo1 .content{
	width: 369px;
	height: 362px;
	margin: 10px auto 0;
	overflow: hidden;
	position: relative;
}
.haohuo1 .content ul{
	width: 370px;
    height: 363px;
} 
.haohuo1 .content ul li{
	position: relative;
    float: left;
    width: 184px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.haohuo1 .content ul li a{
	float: left;
    width: 184px;
    height: 120px;
    cursor: pointer;
}
.haohuo1 .content ul .name{
	width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}
.haohuo1 .content ul .desc{
	width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font-size: 12px;
    line-height: 16px;
}
.haohuo1 .content ul .desc i{
	color: #3B8C94;
}
.haohuo1 .content ul li img{
	position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.haohuo2 .content {
	width: 369px;
    height: 361px;
    margin: 10px auto 0;
    overflow: hidden;
    position: relative;
}
.haohuo2 .content ul{
	width: 370px;
    height: 363px;
}
.haohuo2 .content ul li{
	position: relative;
    float: left;
    width: 184px;
    height: 180px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.haohuo2 .content ul li a{
	float: left;
    width: 184px;
    height: 180px;
}
.haohuo2 .content ul li .name{
	float: left;
    padding: 0 8px;
    height: 20px;
    overflow: hidden;
    margin: 14px 0 0 8px;
    background: #e66a07;
    border-radius: 20px;
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
}
.haohuo2 .content ul li .desc{
	float: left;
    width: 144px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 6px 0 0 16px;
    font-size: 12px;
    line-height: 16px;
}
.haohuo2 .content ul li .img1{
	margin-left: 2px;
}
.haohuo2 .content ul li img{
	float: left;
    width: 90px;
    height: 90px;
    margin-top: 14px;
}
.haohuo3 .content{
	position: relative;
    width: 369px;
    padding: 0 10px 0 11px;
    overflow: hidden;
}
.haohuo3 .content .list{
	position: relative;
    width: 369px;
    height: 360px;
    transition: all 0.4s;
    margin: 10px 0 0 0;
   /* overflow: hidden;*/
}
.haohuo3 .content .list .list1{
	position: absolute;
    left: 0;
    top: 0;
    height: 360px;
    width: 1200px;
    transition: all 0.5s;
}
.haohuo3 .content .list2{
	float: left;
    width: 369px;
    height: 360px;
  /*  overflow: hidden;*/
}
.haohuo3 .content .list2:nth-child(2){
	margin-left: 10px;
}
.haohuo3 .content .list2:nth-child(3){
	margin-left: 10px;
}
.haohuo3 .content .list3{
	position: relative;
    float: left;
    width: 369px;
    height: 180px;
}

.haohuo3 .content .list3 .title{
	position: absolute;
	text-align: center;
	width: 56px;
    left: 0;
    top: 14px;
    color: #FFF;
    background: #c72c2c;
    border-radius: 12px;
    padding: 0 5px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
}
.haohuo3 .content .list3 ul{
	position: relative;
    width: 369px;
    height: 166px;
    padding-top: 14px;
    border-bottom: 1px solid #e7e7e7;
}
.haohuo3 .content .list3:nth-child(2) ul{
	border-bottom: none;
}
.haohuo3 .content .list3 ul li{
	position: relative;
    float: left;
    width: 123px;
    height: 166px;
}

.haohuo3 .content .list3 ul li a{
	float: left;
    width: 100%;
    height: 100%;
}
.haohuo3 .content .list3 ul li a img{
	display: block;
    width: 80px;
    height: 80px;
    margin: 28px auto 0;
}
.haohuo3 .content .list3 ul li .name{
	width: 100px;
    height: 28px;
    overflow: hidden;
    color: #333;
    margin-left: 11px;
    font-size: 12px;
    line-height: 14px;
}
.haohuo3 .content .list3 ul li .price{
	margin: 1px 0 0 11px;
    color: #b62323;
    font-size: 14px;
    line-height: 22px;
}
.haohuo3 .content .list3 ul li .price i,em{
	font-size: 12px;
}
.haohuo3 .content .list3 ul li a span{
	position: absolute;
    width: 23px;
    height: 23px;
    top: 28px;
    right: 22px;
    background: url(../img/index.png);
    color: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 23px;
}
.haohuo3 .content .list3 ul li a .paihang1{
	background-position: -3px -241px;
}
.haohuo3 .btn{
	position: absolute;
    width: 30px;
    height: 64px;
    top: 146px;
    cursor: pointer;
    background: url(../img/index.png);
}
.haohuo3 .btn-left{
	left: 0;
    background-position: -82px -145px;
}
.haohuo3 .btn-right{
	right: 0;
    background-position: -120px -145px;
}
.haohuo3 .yuan{
	width: 44px;
    height: 8px;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
    margin-bottom: 8px;
    cursor: pointer;
}
.haohuo3 .yuan div{
	position: relative;
    float: left;
    margin-left: 10px;
    background: #d8d8d8;
    width: 8px;
    height: 8px;
    border-radius: 100%;
      
}
.haohuo3 .yuan .active{
	background: #c72c2c;
}
.haohuo3 .yuan div:nth-child(1){
	margin-left: 0;
}
.haohuo3 .yuan a:first-child{
	background: #c72c2c;
}
.temai-content{
	width: 369px;
	height: 362px;
	margin: 10px auto 0;
	overflow: hidden;
	position: relative;
}
.temai-content ul{
	width: 370px;
    height: 363px;
}
.temai-content ul li{
	position: relative;
    float: left;
    width: 184px;
    height: 120px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #e7e7e7;
}
.temai-content ul .first{
	height: 241px;
}
.temai-content ul li a{
	float: left;
    width: 100%;
    height: 100%;    
}
.temai-content ul li a .name{
	width: 72px;
    height: 40px;
    overflow: hidden;
    margin: 14px 0 0 15px;
    color: #333;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.temai-content ul .first a .name{
	width: 140px;
    height: 20px;
}
.temai-content ul li a .desc{
	width: 72px;
    height: 16px;
    overflow: hidden;
    color: #999;
    margin: 10px 0 0 15px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.temai-content ul .first a .desc{
	width: 144px;
    margin-top: 3px;
    color: #c43e7e;
}
.temai-content ul li a img{
	position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
}
.temai-content ul .first a img{
	width: 160px;
    height: 160px;
    left: 13px;
    top: auto;
    right: auto;
    bottom: 0;
}
.zn{
	width: 1190px;
	height: 567px;
	/* background: #f2f2f2; */
	margin: 0 auto;
	margin-bottom: 20px;
}
.zn-z{
	width: 590px;
	height: 565px;
	background: black;
	float: left;
	border-top: 2px solid #3093c4;
	position: relative;
}
.zn-y{
	width: 590px;
	height: 565px;
	background: black;
	float: right;
	/* border-top: 2px solid #3093c4; */
}
.zn-z-zn{
	position: absolute;
	width: 190px;
	height: 45px;
	background: #3299cc;
	top: 0;
	left: 0;
}
.zhinengshuma{
	display: block;
	color: #fff;
	line-height: 45px;
	margin-left: 15px;
}
.zn-erweima{
	width: 24px;
	height: 24px;
	background: #fff;
	position: absolute;
	top: 12px;
	left: 91px;
}
.zn-erweima-tu{
	display: block;
	width: 24px;
	height: 24px;
}
.zn-zi{
	font-size: 18px;
	color: #fff;
}
.zn-z-datu{
	position: absolute;
	width: 190px;
	height: 360px;
	top: 45px;
	left: 0;
}
.zn-z-datu-tu{
    
	width: 190px;
	height: 360px;
}
.zn-youshang{
	width: 400px;
	height: 45px;
	position: absolute;
	top: 0;
	right: 0;
	background: #eff7fb;
}
.zn-ys-wen{
	display: block;
	font-size: 14px;
	color: #666;
	float: right;
	line-height: 45px;
	margin-left: 20px;
}
.zn-ys-wen-z{
	margin-right: 20px;
}
.zn-ys-wen:hover{
	color: #f60
}
.zn-youxia{
	width: 400px;
	height: 360px;
	position: absolute;
	top: 45px;
	right: 0px;
	background: green;
}
.zn-yx-y{
	display: block;
	width: 199px;
	height: 179px;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	border-left:1px solid #f2f2f2;
	float: left;
}
.zn-yx-y-wen{
	display: block;
	font-size: 12px;
	color: #333;
	margin-left: 67px;
	margin-top: 19px;
	background: #fff;
}
.zn-yx-y-x-wen{
	display: block;
	font-size: 12px;
	color: #3299cc;
	/* margin-left: 65px; */
	margin-top: 4px;
	text-align: center;
}
.zn-yx-y-tu{
	display: block;
	width: 110px;
	height: 110px;
	margin: auto;
	margin-top: 5px;
	transition: 0.5s;
}
.zn-yx-y:hover .zn-yx-y-tu{
	transform: scale(1.05, 1.05)
}
.zn-x{
	width: 590px;
	height: 109px;
	background: #fff;
	position: absolute;
	bottom: 51px;
	left: 0;
	/* z-index:999; */
}
.zn-db-y{
	display: block;
	width: 189px;
	height: 109px;
	float: left;
	border-right: 1px solid #f2f2f2;

}
.zn-db-er{
	display: block;
	width: 200px;
	height: 109px;
	float: left;
	border-right: 1px solid #f2f2f2;
}
.zn-db-san{
	border-right:none;
	display: block;
	width: 199px;
	height: 109px;
	float: left;
	/* border-right: 1px solid #f2f2f2; */
}
.zn-db-y-z{
	width: 62px;
	height: 37px;
	float: left;
	margin-top: 32px;
	margin-left: 17px;
}
.zn-db-wen{
	display: block;
	font-size: 14px;
	color: #333;
	/* margin-top: 30px; */
	/* margin-left: 18px; */
	

}
.zn-db-wen-y{
	display: block;
	font-size: 12px;
	color: #3299cc;
	margin-top: 4px;
	/* margin-left: 18px; */
	
}
.zn-db-tu{
	display: block;
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 16px;
	margin-right: 14px;
	transition: 0.5s;
}
.zn-db-y:hover .zn-db-tu{
    transform: scale(1.05, 1.05)
}
.zn-db-er:hover .zn-db-tu{
    transform: scale(1.05, 1.05)
}
.zn-db-san:hover .zn-db-tu{
    transform: scale(1.05, 1.05)
}
.zn-zuihou{
	width: 590px;
	height: 50px;
	border-top: 1px solid #f2f2f2;
	background: #fff;
	position: absolute;
	bottom: 0px;
	left: 0;
}
.zn-zui{
	display: block;
	/* width: 80px;
	width: 30px; */
	line-height: 50px;
	float: left;
	margin-top: 8px;
	
}
.zn-zui-tuy{
	margin-left: 4px;
}
.zn-zui-tu{
	width: 80px;
	height: 30px;
	margin-left: 11px;
	
}
.zn-toum{
	display: block;
	width: 190px;
	height: 90px;
	position: absolute;
	left: 0;
	top: 315px;
	background: rgba(50, 153, 204, 0.3)
}
.zu-toumd{
	width: 190px;
	height: 270px;
	background: rgba(0, 0, 0, 0.0);
	position: absolute;
	left: 0;
	top: 45px;
}
.zu-toumd:hover{
	background: rgba(255, 255, 255, 0.3)
}
.zn-t-w-y{
    display: block;
    font-size: 20px;
    color: #fff;
    margin-top: 17px;
    margin-left: 13px;
}
.zn-t-w-r{
    display: block;
    font-size: 12px;
    color: #fff;
    margin-left: 13px;
    margin-top: 4px;
}
.meiwei{
	width: 1190px;
	height: 455px;
	margin: 0 auto;
	/* background: ; */
	margin-bottom: 20px;
	border-top: 2px solid #e96f1e;
	background: #fff;

}
.mw-z{
	width: 590px;
	height: 450px;
	position: relative;
	float: left;
}
.mw-y{
	width: 590px;
	height: 450px;
	float: right;
	
}
.zhinengshumahong{
	background: #e96f1e;
}
.zn-z-zn-z{
	width: 190px;
	height: 45px;
	background: #e96f1e;
	top: 0;
	left: 0;
}
.mw-youshang-y{
	width: 1000px;
	height: 45px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fdf4ed;
}
.zn-z-datu-mv{
	position: absolute;
	width: 200px;
	height: 360px;
	top: 45px;
	left: -10px;
	/* overflow: hidden; */
}
.zn-z-datu-tu-mv{
    
	width: 200px;
	height: 360px;
	/* overflow: hidden; */
}
.sx{
	font-size: 20px;
	color: #e96f1e;
	position: absolute;
	top: 15px;
	left: 15px;
}
.mv-im-wen:{
	display: block;
	font-size: 12px;
	color: #e96f1e;
	position: absolute;
	top: 20px;
	left: 15px;
}
.qd{
	width: 1190px;
	height: 385px;
	/* background: red; */
	margin: 0 auto;
	margin-bottom: 20px;
}
.qd-z{
	width: 590px;
	height: 385px;
	background: #fff;
	float: left;
}
.qd-y{
	width: 590px;
	height: 385px;
	background: #fff;
	float: right;
}
.qd-z-s{
	width: 590px;
	height: 46px;
	background: #ffaa01;
	overflow: hidden;
}
.qd-z-s-z{
	font-size: 20px;
	color: #fff;
	display: block;
	margin-top: 10px;
	margin-left: 13px;
	float: left;
	/* position: relative; */
}
.qd-z-s-y{
	display: block;
	font-size: 12px;
	color: #fff;
	float: right;
	margin-top: 13px;
	margin-right: 5px;
}
.icon{
	display: block;
	float: right;
	font-size: 12px;
	color: #fff;
	margin-top: 15px;
	margin-right: 5px;
}
.qd-z-x{
	width: 278px;
	height: 136px;
	/* background: red; */
	float: left;
	margin-left: 16px;
	margin-top:17px;
	display: block;
	margin-right: 4px;
	margin-bottom: 30px;
}
.qd-z-y{
	display: block;
	width: 278px;
	height: 136px;
/* 	background: green; */
	float: left;
	margin-top:17px;
}
.qd-z-z{
	display: block;
	width: 278px;
	height: 136px;
	/* background: red; */
	float: left;
	margin-left:16px;
	margin-right: 4px;
	margin-bottom: 30px;
}
.qd-z-d{
	display: block;
	width: 278px;
	height: 136px;
	/* background: red; */
	float: left;
	/* margin-left:16px; */
}
.qd-z-x-wen{
	display: block;
	font-size: 12px;
	color: #333;
	margin-left: 4px;
}
.qd-juxing{
	width: 58px;
	height: 16px;
	background: #fe9b00;
	margin-top: 2px;
	margin-left:4px;
	display: block;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 16px;
	float: left;
	margin-right: 5px;
}
.qd-z-x-xw{
	display: block;
	margin-top: 2px;
	/* margin-left: 5px; */
	font-size: 12px;
	color: #999;
    /* padding-left: 3px; */
}
.qd-hengkuai{
	width: 270px;
	height: 75px;
	/* background: black; */
	margin-top: 19px;
	margin-left: 2px;
}
.qd-dianshi{
	display: block;
	width: 90px;
	height: 75px;
	float: left;
	transition:0.6s
}
.qd-dianshi:hover{
    transform: scale(1.03, 1.03);
}
.qd-z-x:hover .qd-z-x-wen{
	color: #ff6600;
}
.qd-z-y:hover .qd-z-x-wen{
	color: #ff6600;
}
.qd-z-z:hover .qd-z-x-wen{
	color: #ff6600;
}
.qd-z-d:hover .qd-z-x-wen{
	color: #ff6600;
}
/* .qd-zuo{
	width: 30px;
	height: 64px;
	background: red;
	position: absolute;
	top:30px;
	left: 0;
} */
.zn-mv-tm{
	width: 200px;
	position: absolute;
	left: -10px;
	height: 84px;

}
.zn-mv-tv{
	margin-left: 10px;
}
.qb-y-x{
	width: 590px;
    height: 339px;
}
.qb-y-x-y{
	width: 196px;
	height: 339px;
	position: relative;
	float: left;
}
.qb-y-x-y-tu{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 160px;
	height: 160px;
}
.qu-y-x-y-tusan{
	position: absolute;
	width: 160px;
	height: 160px;
	top: 15px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
}
.qb-y-x-y:hover .qu-y-x-y-tusan{
	opacity: 1
} 
.qb-y-x-y-ertu{
	position: absolute;
	top: 60px;
	left: 70px;
}
.qb-y-x-er{
	font-size: 10px;
	color: #333;
	text-align: center;
	margin-top: 15px;
}
.qb-y-x-san{
	font-size: 10px;
	color: #fff;
	width: 120px;
	height: 21px;
	background: #ff6700;
	margin: 0 auto;
	text-align: center;
	line-height: 21px;
	margin-top: 15px;
}
.qb-y-x-si{
	width: 120px;
	height: 20px;
	margin: 0 auto;
	margin-top: 15px;
}
.qb-y-x-wu{
	font-size: 10px;
	color: #666;
	display: block;
	float: left;
}
.qb-y-x-liu{
	font-size: 10px;
	color: #666;
	display: block;
	float: right;
}

.btn.btn-left{
	opacity: 0
}
.btn.btn-right{
	opacity: 0
}
.haohuo3:hover .btn.btn-left{
    opacity: 1
}
.haohuo3:hover .btn.btn-right{
    opacity: 1
}
.cnxh{
	width: 1190px;
	height: 319px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.cnul li{
	width: 20%;
	height: 319px;
	background: #fff;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
	float: left;
}
.cnul li:nth-child(5){
	border-right: none;
}
.cn-tu{
	width: 200px;
	height: 200px;
	display: block;
	margin: 20px auto;
	transition: 0.5s
}
.cnul li a{
	width: 100%;
	height: 100%
}
.cnul span{
	font-size: 10px;
	color: #333;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	line-height: 15px;

}
.cnul h1{
	color: #ff6600;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 5px;
}
.cnul li:hover .cn-tu{
    transform: scale(1.05, 1.05)
}
.cnul li:hover span{
    color: #ff6600;
}
.cnxhda{
	width: 1190px;
	height: 32px;
	margin: 0 auto;
}
.cnxhda h1{

	font-size: 20px;
	color: #333;
	padding-left: 5px;
	
}
.cnxhxhz{
	width: 100px;
	height: 20px;
	border-left: 2px solid #ff6700;
}
.end{
	width: 1190px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.end-xie{
	width: 97px;
	height: 1px;
	background: #ccc;
	float: left;
	margin-left: 440px;
	margin-top: 20px;
}
.end-zi{
	display: block;
	font-size: 20px;
	color: #ccc;
	line-height: 40px;
	margin-left: 38px;
	float: left;
}
.end-youxie{
	width: 97px;
	height: 1px;
	background: #ccc;
	margin-left: 38px;
	float: left;
	margin-top: 20px;
}
.dibu{
	width: 100%;
	background: #f5f5f5;
    border-top: 1px solid #e7e7e7;
}
.dibu-nk{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}
.dibu-top{
	width: 100%;
	padding: 12px 0;
    height: 73px;
    border-bottom: 1px solid #eaeaea;
}
.dibu-top li{
	width: 20%;
	float: left;
}
.dibu-top-tu{
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	float: left;
	margin-right: 8px;
}
.dibu-top-tu img{
	width: 48px;
	height: 48px;
}
.dibu-top-wz{
	float: left;
}
.dibu-top-wz a{
	font-size: 14px;
	color: #333;
	width: 100%;
	display: block;
	font-weight: bold;
}
.dibu-top-wz a:hover{
	color: #f60;
}
.dibu-top-wz span{
	display: block;
	color: #636363;
	font-size: 10px;
	width: 100%;
	margin-top: 10px;
}
.dibu-bottom{
	width: 100%;
	padding: 15px 0;
	display: flex;
}
.dibu-bottom li{
	width: 16.6666%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.dibu-bottom li span{
	color: #545454;
    font-size: 14px;
    font-weight: bold;
}
.dibu-bottom li a{
	color: #636363;
	font-size: 12px;
	margin-top: 8px;
}
.dibu-bottom li a:hover{
	color: #f60;
}
.dibu-bottom li a p{
	color: #636363;
	font-size: 12px;
	margin-top: 8px;
	width: 90px;
}
.dibu-bottom li a p:hover{
	color: #f60;
}
footer{
	width: 100%;
	background: #fff;
	padding-top: 12px;
	padding-bottom: 4px;
}
.footer-nk{
	width: 1190px;
	margin: 0 auto;
}
.footer-1{
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}
.footer-1 a{
	font-size: 12px;
	color: #666;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #888;
}
.footer-1 a:last-child{
	border-right: none;
}
.footer-2{
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}
.footer-2 span{
	font-size: 12px;
	color: #999;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #888;
}
.footer-2 a{
	font-size: 12px;
	color: #999;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #888;
}
.footer-2 a:last-child{
	border-right: none;
}
.footer-3{
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}
.footer-3 span{
	font-size: 12px;
	color: #999;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #888;
}
.footer-3 a{
	font-size: 12px;
	color: #999;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #888;
}
.footer-3 a:nth-of-type(2){
	border-right: none;
	padding-right: 0;
}
.footer-3 a:nth-of-type(3){
	border-right: none;
}
.footer-3 span:nth-of-type(2){
	border-right: none;
	padding-right: 0;
}
.footer-4{
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
	font-size: 12px;
	color: #999;
}
.footer-5{
	width: 1190px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.footer-5 a{
	display: block;
	margin-left: 5px;
	margin-right: 5px;
}
.footer-5 a img{
	width: 76px;
	height: 24px;
}
.footer-2 img{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.cedaohang{
	width: 70px;
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    right: auto;
    margin-left: -670px;
    margin-top: -159.5px;
    display: block;
}
.cedao{
	width: 70px;
	padding-top: 10px;
	background: #f8f8f8;
	border: 1px solid #e8e8e8;
	position: relative;
}
.cedaotu{
	position: absolute;
	left: 13px;
    top: -29px;
    z-index: 99;
	width: 45px;
	height: 37px;
	background: url('../img/index.png')-302px -80px;
}
/* .cedao-h li:first-child a{
	background: #f60;
	color: #fff;
} */
.cedao-h li:hover a{
	background: #f60;
	color: #fff;
	cursor: pointer;
}
.cedao-h li{
	width: 68px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    border-bottom: 1px solid #e8e8e8;
}
.cedao-h li a{
	display: block;
	font-size: 12px;
	color: #000;
}
.cedao-h{
	width: 68px;
    background: #f8f8f8;
}
.cedao-di{
	display: block;
    width: 68px;
    height: 18px;
    background: url('../img/index.png') -230px -183px;
}